#app {
    font-family: var(--font-family-display);
    line-height: var(--line-height-display);
    font-weight: var(--font-weight-default);
}

h1 {
    font-size: var(--font-size-display);
}

h1.display {
    font-size: var(--font-size-h1-display);
    line-height: var(--line-height-display);
}

h1.text {
    font-size: var(--font-size-h1-text);
    font-family: var(--text-font);
    line-height: var(--line-height-text);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}

p {
    font-size: var(--font-size-text);
}
/* TODO: какая-то дичь... */
h1.display,
h2,
h3,
h4,
p {
    font-family: var(--text-font);
    line-height: var(--font-family-text);
}

button,
select,
a,
p.display,
label {
    font-family: var(--font-family-display);
    font-size: var(--font-size-ui);
    font-weight: 600;
}
