form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--padding-m);
    width: clamp(32ch, 75%, 66ch);
}

.auth {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--padding-m);
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: var(--padding-s);
    width: 100%;
}