.post-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75%;
    max-width: 160ch;
    gap: var(--space-m);
}

.post-form>button {
    align-self: flex-end;
}

.post-form .textarea-wrapper {
    grid-row: 2 / 3;
    min-height: 40ch;
}

.post-form .textarea-wrapper textarea {
    height: 100%;
}

.post-form button {
    grid-row: 3 / 4;
}

.post-form .markdown-body {
    border: 1px solid var(--color-border);
    background-color: var(--color-input);
    border-radius: var(--space-xs);
    padding: var(--space-s);
    flex: 1;
    min-height: 40ch;
    box-sizing: border-box;
    max-height: 120ch;
    overflow: scroll;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}