.post-form {
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 160ch;
}

.post-form>button {
    align-self: flex-end;
}

.editor {
    display: flex;
    gap: var(--space-m);
    min-height: 40ch;
}

.editor>.textarea-wrapper {
    flex: 1;
}

.editor textarea {
    height: 100%;
}

.editor .markdown-body {
    border: 1px solid var(--color-border);
    background-color: var(--color-input);
    border-radius: var(--space-xs);
    padding: var(--space-s);
    flex: 1;
    box-sizing: border-box;
    max-height: 120ch;
    overflow: scroll;
}