header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-panel);
    color: var(--color-bg);
    padding: var(--space-xl);
}

@media screen and (max-width: 720px) {
    header {
        padding: var(--space-m);
    }
}

nav {
    display: flex;
    gap: var(--space-m);
}