header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-panel);
    color: var(--color-bg);
    padding: var(--space-l);
}

header>a {
    height: 48px;
}

nav {
    display: flex;
    gap: var(--space-m);
}