.markdown-body {
    font-family: var(--font-text);
    line-height: var(--line-height-text);
    color: var(--color-text);
    word-wrap: break-word;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4 {
    font-family: var(--font-text);
    margin-top: var(--space-m);
    margin-bottom: var(--space-s);
}

.markdown-body p {
    margin-bottom: var(--space-s);
}

.markdown-body code {
    font-family: var(--font-display);
    background-color: var(--color-muted);
    border-radius: var(--space-xs);
}

.markdown-body pre {
    background-color: var(--color-muted);
    padding: var(--space-m);
    margin-top: var(--space-m);
    border-radius: var(--space-m);
    overflow-x: auto;
}

.markdown-body blockquote {
    border-left: var(--space-xs) solid var(--color-accent);
    padding-left: var(--space-m);
    color: var(--color-text);
    opacity: 0.8;
}

.markdown-body ul,
.markdown-body ol {
    margin: var(--space-m) 0px;
}