@import url(./colors.css);
@import url(./elements.css);
@import url(./index.css);
@import url(./typography.css);

#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex-grow: 1;
}

.card {
  padding: var(--base-padding);
}
