a {
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}

button, select {
    padding: var(--padding-s);
    border-radius: var(--padding-xs);
    cursor: pointer;
}

input[type="text"], input[type="email"], input[type="password"] {
    border-radius: var(--padding-xs);
    border-style: solid;
    border-color: var(--light-border);
    background-color: var(--light-bg);
    padding: var(--padding-s)
}