:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --padding-xs: 4px;
  --padding-s: 8px;
  --padding-m: 16px;
  --padding-l: 24px;
}

.text {
  font-family: var(--text-font);
  line-height: var(--line-height-text);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 375px;
  min-height: 100vh;
}

* {
  margin: 0;
}
