.post_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    border: 1px solid gray;
    padding: var(--padding-l);
    border-radius: 0.25rem;
    gap: var(--padding-s);
}