.posts-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min-content;
    gap: 1rem;
}
input {
    font-size: var(--font-size-ui);
    width: clamp(200px, 50%, 600px);
}