.post_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    padding: var(--padding-l);
    border-radius: 0.25rem;
}